GMI_API_KEY=your_gmi_api_key_here
GMI_BASE_URL=https://api.gmi-serving.com/v1

PUBLER_API_KEY=your_publer_api_key_here
PUBLER_WORKSPACE_ID=your_workspace_id_here
PUBLER_TIKTOK_ACCOUNT_ID=your_tiktok_account_id_here
